.booking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100vw;
  background-color: #2b9348;
  background-image: linear-gradient(114deg, #2b9348 0%, #ffffff 99%); 
  overflow-y: scroll;
}

.booking__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height:90vh;
  background-color: #FFFFFF;
}

.booking__main__userCard{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 45vh;
  margin: 10px 0;
  background-color: #EBEFF5;
  border: solid thin #CFD8E7;
  border-radius: 20px;

}

.booking__main__calanderAndServicesBox{
  display: flex;
  width: 90%;
  height: 40vh;
  
  justify-content: space-evenly;
  align-items: center;
  
}

.booking__main__calander{
  display: flex;
  height: 350px;
}

.booking__main__services{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  background-color: #e2e7ee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.place-booking{
  height: 44px;
}